@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

* {
  transition: background-color 1s ease-out;
  outline: none;
}
body{
  font-family: 'Roboto Slab', serif;
}
button {
  margin: 0.5em 0 0.5em 0;
  color: white;
  border: 2px solid gray;
  border-radius: 8px;
}
#social {
  padding-top: 5em;
}
#quote-area{
  background-color: white;
  padding: 4em 5%;
  opacity: 0.85;
  margin: 2em 1%;
  border-radius: 40px;
}
#quote-area-bg{
  border-radius: 20px;
  margin-top: 1em;
}
#outterbox {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: black;
}
#innerbox {
  padding: 4em 2%;
  margin: 2em 1%;
  border-radius: 25px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202020+0,202020+3,959595+5,959595+5,202020+7,2b2b2b+50,202020+93,959595+95,959595+95,202020+97,383838+100,1b1b1b+100 */
background: rgb(32,32,32); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(32,32,32,1) 0%, rgba(32,32,32,1) 3%, rgba(149,149,149,1) 5%, rgba(149,149,149,1) 5%, rgba(32,32,32,1) 7%, rgba(43,43,43,1) 50%, rgba(32,32,32,1) 93%, rgba(149,149,149,1) 95%, rgba(149,149,149,1) 95%, rgba(32,32,32,1) 97%, rgba(56,56,56,1) 100%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(32,32,32,1) 0%,rgba(32,32,32,1) 3%,rgba(149,149,149,1) 5%,rgba(149,149,149,1) 5%,rgba(32,32,32,1) 7%,rgba(43,43,43,1) 50%,rgba(32,32,32,1) 93%,rgba(149,149,149,1) 95%,rgba(149,149,149,1) 95%,rgba(32,32,32,1) 97%,rgba(56,56,56,1) 100%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(32,32,32,1) 0%,rgba(32,32,32,1) 3%,rgba(149,149,149,1) 5%,rgba(149,149,149,1) 5%,rgba(32,32,32,1) 7%,rgba(43,43,43,1) 50%,rgba(32,32,32,1) 93%,rgba(149,149,149,1) 95%,rgba(149,149,149,1) 95%,rgba(32,32,32,1) 97%,rgba(56,56,56,1) 100%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.sub {
  color: azure;
}